header{
    background-image: url(../imagenes/images.jpg);
    

    nav{
        background-color: $colorbarra;
        .navbar{
            position: sticky;
        }
    }
}

ul{
    .dropdown-item{
        font-family: $fuenteprincipal;
        
    }
}

main{
    background-color: $colorfondo;
    div{
        border: solid $colorbarra;
        border-radius: 1rem;
        max-width: 50rem;
        max-height: 30rem;
        overflow: hidden;
    }
    .img-html{
        width: 50rem;
        height: auto;
        border-radius: 1rem;
        
    }
}