header{
    background-image: url(../imagenes/images.jpg);
    
    .logo{
        
    }
    nav{
        background-color: $colorbarra;
    }
}

ul{
    .dropdown-item{
        font-family: $fuenteprincipal;
        
    }
}

